# Supabase Public API Credentials
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Supabase Secret Admin Key (Server-side cron job only - Bypasses RLS)
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Secret key to authenticate requests coming from Supabase pg_cron / Vercel Cron
CRON_SECRET=your-super-secret-cron-token
